[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
BundleOutput/
*.pidb
*.suo
*.sln
*.user
*.userprefs
*.unityproj
*.booproj
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini
*.tmp
*.log
